<article class="card">
    <header class="card-header bg-primary text-white">
        formulario
    </header>
    <form class="card-body">
        <h5 class="card-title">Color hexadecimal</h5>
        <p class="card-text">
            Son códigos numéricos que representan los diferentes colores usados en el 
            lenguaje html y CSS para el diseño web.
        </p>

        <div class="mb-3">
            <label for="colorHex" class="form-label">Digite un color hexadecimal o un color por defecto</label>
            <div class="d-flex">
                <input type="text" class="form-control" name="colorHex" id="colorHex" placeholder="ej: 333" [(ngModel)]="color" (keyup)="ValidarColor()">
            </div>
            <p class="text-danger" id="colorHelp"></p>
        </div>
    </form>
</article>

<h3 class="text-center mt-3">Elemento HTML</h3>
<div class="card mt-3 contenedor-color d-flex justify-content-center align-content-center" [style.backgroundColor] = "color">
    <span class="text-center fw-bold h1">{{ color !== ""? color: "Sin color" }}</span>
</div>